<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
  <properties>
    <title>Releases</title>
  </properties>
  <body>
    <section name="Releases">
      <p>The current release is ${project.version}.</p>
      <p>
        Source code and binaries are available from the
        <a href="http://mvn-repository.io7m.com/${siteReposDirectory}/">repository</a>.
      </p>
    </section>
    <section name="Documentation">
      <p>
        Documentation for the ${project.version} release is available for reading online.
      </p>
      <ul>
        <li><a href="documentation/index-m.xhtml">XHTML - one page per section</a></li>
        <li><a href="documentation/index.xhtml">XHTML - single page</a></li>
      </ul>
      <p>
        Documentation is archived in the
        <a href="http://mvn-repository.io7m.com/${siteDocumentationDirectory}">repository</a>.
      </p>
    </section>
    <section name="Changes">
<table summary="Changes for project io7m-changelog" xmlns="http://www.w3.org/1999/xhtml" class="changelog">
  <tr>
    <td>2014-04-17</td>
    <td>Release: io7m-changelog 2.0.0</td>
  </tr>
  <tr>
    <td>2014-04-17</td>
    <td>Code new: Allow for zero or more releases in a file.</td>
  </tr>
  <tr>
    <td>2014-04-17</td>
    <td>Code change: Do not allow xml:id on changelogs.</td>
  </tr>
  <tr>
    <td>2014-04-17</td>
    <td>Code new: Allow multiple tickets per changelog item.</td>
  </tr>
  <tr>
    <td>2014-04-17</td>
    <td>Code change: Redevelop package in Java, eliminate XSLT stylesheets.</td>
  </tr>
  <tr>
    <td>2014-04-17</td>
    <td>Code change: Change schema URI and increment version to 2.0.0</td>
  </tr>
  <tr>
    <td>2012-03-15</td>
    <td>Release: io7m-changelog 1.0.0</td>
  </tr>
  <tr>
    <td>2012-03-15</td>
    <td>Code new: Initial release.</td>
  </tr>
</table>
    </section>
  </body>
</document>

